@import "tailwindcss";

@font-face {
  font-family: 'kafir';
  src: url('/fonts/Kafir-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'kafir-black';
  src: url('/fonts/Kafir-Black.otf') format('opentype');
}
.kafir{
  font-family: 'kafir';
  font-weight: 800;
}
.kafir-black{
  font-family: 'kafir-black';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

